# Coursera - IBM - Data Science - Module 9 - Week 3 - Part 1/3
Capestone Project - Stephane's assignment
Segmenting and Clustering Neighborhoods in Toronto Part 1 of 3

#### Importing Libraries

In [3]:
!pip install bs4
!pip install wikipedia
!pip install lxml

Collecting bs4
  Downloading https://files.pythonhosted.org/packages/10/ed/7e8b97591f6f456174139ec089c769f89a94a1a4025fe967691de971f314/bs4-0.0.1.tar.gz
Collecting beautifulsoup4 (from bs4)
  Downloading https://files.pythonhosted.org/packages/1a/b7/34eec2fe5a49718944e215fde81288eec1fa04638aa3fb57c1c6cd0f98c3/beautifulsoup4-4.8.0-py3-none-any.whl (97kB)
     |████████████████████████████████| 102kB 8.3MB/s ta 0:00:011
Collecting soupsieve>=1.2 (from beautifulsoup4->bs4)
  Downloading https://files.pythonhosted.org/packages/5d/42/d821581cf568e9b7dfc5b415aa61952b0f5e3dede4f3cbd650e3a1082992/soupsieve-1.9.4-py2.py3-none-any.whl
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/a0/b0/b2/4f80b9456b87abedbc0bf2d52235414c3467d8889be38dd472
Successfully built bs4
Installing collected packages: soupsieve, beautifulsoup4, bs4
Successfully installed beautifulsoup4-4.8.0 bs4-0.0.1 soupsieve-1.9.4
Collecting wikipedia
  Downloading https://files.pythonhosted.org/packages/67/35/25e68fbc99e672127cc6fbb14b8ec1ba3dfef035bf1e4c90f78f24a80b7d/wikipedia-1.4.0.tar.gz
Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from wikipedia) (4.8.0)
Requirement already satisfied: requests<3.0.0,>=2.0.0 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from wikipedia) (2.22.0)
Requirement already satisfied: soupsieve>=1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4->wikipedia) (1.9.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (1.24.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2019.6.16)
Building wheels for collected packages: wikipedia
  Building wheel for wikipedia (setup.py) ... done
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/87/2a/18/4e471fd96d12114d16fe4a446d00c3b38fb9efcb744bd31f4a
Successfully built wikipedia
Installing collected packages: wikipedia
Successfully installed wikipedia-1.4.0
Collecting lxml
  Downloading https://files.pythonhosted.org/packages/ec/be/5ab8abdd8663c0386ec2dd595a5bc0e23330a0549b8a91e32f38c20845b6/lxml-4.4.1-cp36-cp36m-manylinux1_x86_64.whl (5.8MB)
     |████████████████████████████████| 5.8MB 20.0MB/s eta 0:00:01
Installing collected packages: lxml
Successfully installed lxml-4.4.1

In [4]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import wikipedia as wp
from lxml import html

#### Reading data from Wikipedia page

In [5]:
### Reading from Wikipedia Page
wikiread = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [6]:
### Creating a Toronto DF
tor_df = pd.read_html(wikiread)[0]

In [7]:
### Dataframe Head Visualization
tor_df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [8]:
tor_df.shape

(288, 3)

In [9]:
### Creating a copy of the initial DF
tor_df_copy = tor_df

#### Data Cleaning - Dropping NA Borough

In [10]:
### Dropping column with Not Assigned Borough
tor_df=tor_df[tor_df.Borough != 'Not assigned']

In [11]:
tor_df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [12]:
tor_df.shape

(211, 3)

#### Data Cleaning - Grouping Neighbourhoods with same Postcode into one Row

In [13]:
### Checking Categories
tor_df.groupby(['Postcode']).count()
### 103 unique Postcodes => Data Frame needs to be aggregated to have only 103 rows

          Borough  Neighbourhood
Postcode
M1B             2              2
M1C             3              3
M1E             3              3
M1G             1              1
M1H             1              1
...           ...            ...
M9N             1              1
M9P             1              1
M9R             4              4
M9V             8              8
M9W             1              1

[103 rows x 2 columns]

In [14]:
### Aggregating Neighbourhood with same PostCode 
tor_df=tor_df.groupby(['Postcode', 'Borough'])['Neighbourhood'].agg([('Neighbourhood', ', '.join)]).reset_index()

In [15]:
tor_df.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [16]:
tor_df.shape

(103, 3)

#### Data Cleaning - Assigning Borough if Neighbourhood is not assigned

In [45]:
#### Checking number of Neighbourhood with not assigned value
tor_df[tor_df['Neighbourhood'] == 'Not assigned']

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Not assigned

In [54]:
#### Selecting Rows requirying update
NA_Neigh_test = tor_df['Neighbourhood'] == 'Not assigned'

In [65]:
#### Copying Borough to Neighbourhood having Not Assigned value
tor_df.loc[NA_Neigh_test,'Neighbourhood'] = tor_df.loc[NA_Neigh_test,'Borough']

In [68]:
#### Checking Result
tor_df.loc[NA_Neigh_test]

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Queen's Park

#### Toronto DF Shape

In [70]:
tor_df.shape

(103, 3)