# Coursera - IBM - Data Science - Module 9 - Week 3 - Part 1/3
Capestone Project - Stephane's assignment
Segmenting and Clustering Neighborhoods in Toronto Part 1 of 3

#### Importing Libraries

In [2]:
!pip install bs4
!pip install wikipedia
!pip install lxml

Requirement already satisfied: bs4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from bs4) (4.8.0)
Requirement already satisfied: soupsieve>=1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4->bs4) (1.9.4)
Requirement already satisfied: wikipedia in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.4.0)
Requirement already satisfied: requests<3.0.0,>=2.0.0 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from wikipedia) (2.22.0)
Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from wikipedia) (4.8.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (1.24.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2019.9.11)
Requirement already satisfied: soupsieve>=1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4->wikipedia) (1.9.4)
Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.4.1)

In [3]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import wikipedia as wp
from lxml import html

#### Reading data from Wikipedia page

In [4]:
### Reading from Wikipedia Page
wikiread = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [11]:
### Creating a Toronto DF
tor_df = pd.read_html(wikiread)[0]

In [12]:
### Dataframe Head Visualization
tor_df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [13]:
### The Neighbourhood column has to be renamed
tor_df = tor_df.rename(columns={"Neighbourhood":"Neighborhood"})

In [14]:
### Checking Proper column name
tor_df.head()

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [15]:
tor_df.shape

(288, 3)

In [16]:
### Creating a copy of the initial DF
tor_df_copy = tor_df

#### Data Cleaning - Dropping NA Borough

In [17]:
### Dropping column with Not Assigned Borough
tor_df=tor_df[tor_df.Borough != 'Not assigned']

In [18]:
tor_df.head()

  Postcode           Borough      Neighborhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [19]:
tor_df.shape

(211, 3)

#### Data Cleaning - Grouping Neighbourhoods with same Postcode into one Row

In [20]:
### Checking Categories
tor_df.groupby(['Postcode']).count()
### 103 unique Postcodes => Data Frame needs to be aggregated to have only 103 rows

          Borough  Neighborhood
Postcode
M1B             2             2
M1C             3             3
M1E             3             3
M1G             1             1
M1H             1             1
...           ...           ...
M9N             1             1
M9P             1             1
M9R             4             4
M9V             8             8
M9W             1             1

[103 rows x 2 columns]

In [21]:
### Aggregating Neighbourhood with same PostCode 
tor_df=tor_df.groupby(['Postcode', 'Borough'])['Neighborhood'].agg([('Neighborhood', ', '.join)]).reset_index()

In [22]:
tor_df.head()

  Postcode      Borough                            Neighborhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [23]:
tor_df.shape

(103, 3)

#### Data Cleaning - Assigning Borough if Neighbourhood is not assigned

In [24]:
#### Checking number of Neighbourhood with not assigned value
tor_df[tor_df['Neighborhood'] == 'Not assigned']

   Postcode       Borough  Neighborhood
85      M7A  Queen's Park  Not assigned

In [25]:
#### Selecting Rows requirying update
NA_Neigh_test = tor_df['Neighborhood'] == 'Not assigned'

In [26]:
#### Copying Borough to Neighbourhood having Not Assigned value
tor_df.loc[NA_Neigh_test,'Neighborhood'] = tor_df.loc[NA_Neigh_test,'Borough']

In [27]:
#### Checking Result
tor_df.loc[NA_Neigh_test]

   Postcode       Borough  Neighborhood
85      M7A  Queen's Park  Queen's Park

#### Writing DF to CSV File

In [28]:
tor_df.to_csv("IBM-M9-W3-P1.csv")

#### Toronto DF Shape

In [29]:
tor_df.shape

(103, 3)