# Coursera - IBM - Data Science - Module 9 - Week 3 - Part 2/3
Capestone Project - Stephane's assignment
Segmenting and Clustering Neighborhoods in Toronto Part 2 of 3

#### Importing Libraries

In [1]:
!pip install bs4
!pip install wikipedia
!pip install lxml

Requirement already satisfied: bs4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from bs4) (4.8.0)
Requirement already satisfied: soupsieve>=1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4->bs4) (1.9.4)
Requirement already satisfied: wikipedia in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.4.0)
Requirement already satisfied: requests<3.0.0,>=2.0.0 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from wikipedia) (2.22.0)
Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from wikipedia) (4.8.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (1.24.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2019.6.16)
Requirement already satisfied: soupsieve>=1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4->wikipedia) (1.9.4)
Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.4.1)

In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import wikipedia as wp
from lxml import html

#### Reading Dataframe which was built during Part 1 of the assignment

In [2]:
#### Copying csv File to a Pandas dataframe
tor_df = pd.read_csv("IBM-M9-W3-P1.csv", delimiter=",",index_col=0)

In [3]:
#### Checking if upload is correct
tor_df.head()

  Postcode      Borough                            Neighborhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [4]:
tor_df.shape

(103, 3)

#### Getting a copy of Geospatial Data csv file

In [5]:
!wget -O geospatial.csv https://cocl.us/Geospatial_data

--2019-09-30 06:56:14--  https://cocl.us/Geospatial_data
Resolving cocl.us (cocl.us)... 169.48.113.194
Connecting to cocl.us (cocl.us)|169.48.113.194|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2019-09-30 06:56:15--  https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.box.com (ibm.box.com)... 107.152.26.197, 107.152.27.197
Connecting to ibm.box.com (ibm.box.com)|107.152.26.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2019-09-30 06:56:15--  https://ibm.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Reusing existing connection to ibm.box.com:443.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2019-09-30 06:56:15--  https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 107.152.26.211
Connecting to ibm.ent.box.com (ibm.ent.box.com)|107.152.26.211|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!B2AYimpoV8ToiUDanv0IOAs1UfVVBMZemji_13BXJWdfamcaiZih-dGZbjmQMOa9zpGrl2Cabz79sXfb9wX2yP1J0au2Byq3Rc0XQnmZeUNuXlfi-s2nqbLF9GA5ETwO1fnLDcteMvMHdJ02At1S7-NOOeWhKqJpDp7NBPC2wxZ_Q7Cnc0bfnEps-Ge6LG_OQ5wgs89Xxp6a1nZGrIIlg3xrBHREGXnB17M7Eqs3b4HC84aD5HIL322h6hhmMLeWvGulUaxGGyDRsX_lsZUUG8HKyE_jGBhLqbA4Pi8-yq7a3dkhfp_qa6ScB-FxZsQSlOwoMvcH0JQBMN2gq1w4tY7Zusqy3xDjLRf6PoZWcQqeCSr1CNxdOy9q3f4iSnczWD2uiXwosDr52gpNSV0clGtWz1R7LbiFT0Ho5QEU6rV5PeLnaXiA8r-XQkgXka-QCP1ERFGCBKujdlSizCSPoFI1MoJBK-UQ-ZQ6STv_yNDnDNI5kZ4PgtryYMxQZW_1gaPiyZ9gWy3yajb8WCJCDU_9XeS17PG1zM-uJ53BhK3E-nxDCDN2vKVfg3UBhTpeZYb8kRmAq-mG2t6Pz0SQmBhHXPqWG_y_-Jlfz7CJmHl96di1ErPMlpISuRjGaniI4wpX8yba34K8CKejOYXnhptzccM1D6CYQOkCqXU-v30hi5gFqiWTdVYzOxcG7LDIJdH6LxwK3ZmxzmnjWfLr9LXh2Jo0NmPsHRa98yQbFIoxVIu0rdSyzIssD3Xu8E-iYb-SQdzb7yqRseu_8UsDjJlwpjJIlzYV8U6xqhArOoWtQoi1VL7cc36NqfE-tXX6Rs7uLhLrrZyS4g3kjQe8LA7sBn5zDk73ZvzZnk6sqMOa4L__I9pLWz4_FCRhPfExh9Q-_7eR-5e_Y85FLYStyX2Kb95U4RO4ELWe9oA1C7n3QcMLb75qrUY9EWTlb3c1NP2MMxKbperLpNncuNoVsjFpbk3yseaTCIXCmtY0y6dbJnYmNknO-XzdzPjCPQLlUQEck7xeRxJ8QjBfzplBDVmQuRHL37A-olxKUvqzGyJXEJLaMGbnoSnTzjIvoFy5UmyN444r7EsiHMJ_Y4n-iBNMTU_-GdmWwYugE85fA6zUUpqRVbod2SpncDW2yvRsdjqL_3FUSnpOQqSLb_9R5U_WTMbvoaJdazc0lk5gQlAl54TQngfsnuzkPBTKzqok0Z4dzo_h0AlqMdTk9tEp4lp5AdJn9wAc6R9o0AhQI2HmqRya9wVbGQrC1LjR1539kDHgOu5FLTQbwV7rAqEuO4iPlkQgowFry7XK6MxSMzv2qKRwBqbGqRVoTY0NS1ikCGU_qM6Lt3cPQvZfXnS5Ohgmhri203MKAncFQ6PwEXyRJ_zW3-WegT5qAxtp/download [following]
--2019-09-30 06:56:16--  https://public.boxcloud.com/d/1/b1!B2AYimpoV8ToiUDanv0IOAs1UfVVBMZemji_13BXJWdfamcaiZih-dGZbjmQMOa9zpGrl2Cabz79sXfb9wX2yP1J0au2Byq3Rc0XQnmZeUNuXlfi-s2nqbLF9GA5ETwO1fnLDcteMvMHdJ02At1S7-NOOeWhKqJpDp7NBPC2wxZ_Q7Cnc0bfnEps-Ge6LG_OQ5wgs89Xxp6a1nZGrIIlg3xrBHREGXnB17M7Eqs3b4HC84aD5HIL322h6hhmMLeWvGulUaxGGyDRsX_lsZUUG8HKyE_jGBhLqbA4Pi8-yq7a3dkhfp_qa6ScB-FxZsQSlOwoMvcH0JQBMN2gq1w4tY7Zusqy3xDjLRf6PoZWcQqeCSr1CNxdOy9q3f4iSnczWD2uiXwosDr52gpNSV0clGtWz1R7LbiFT0Ho5QEU6rV5PeLnaXiA8r-XQkgXka-QCP1ERFGCBKujdlSizCSPoFI1MoJBK-UQ-ZQ6STv_yNDnDNI5kZ4PgtryYMxQZW_1gaPiyZ9gWy3yajb8WCJCDU_9XeS17PG1zM-uJ53BhK3E-nxDCDN2vKVfg3UBhTpeZYb8kRmAq-mG2t6Pz0SQmBhHXPqWG_y_-Jlfz7CJmHl96di1ErPMlpISuRjGaniI4wpX8yba34K8CKejOYXnhptzccM1D6CYQOkCqXU-v30hi5gFqiWTdVYzOxcG7LDIJdH6LxwK3ZmxzmnjWfLr9LXh2Jo0NmPsHRa98yQbFIoxVIu0rdSyzIssD3Xu8E-iYb-SQdzb7yqRseu_8UsDjJlwpjJIlzYV8U6xqhArOoWtQoi1VL7cc36NqfE-tXX6Rs7uLhLrrZyS4g3kjQe8LA7sBn5zDk73ZvzZnk6sqMOa4L__I9pLWz4_FCRhPfExh9Q-_7eR-5e_Y85FLYStyX2Kb95U4RO4ELWe9oA1C7n3QcMLb75qrUY9EWTlb3c1NP2MMxKbperLpNncuNoVsjFpbk3yseaTCIXCmtY0y6dbJnYmNknO-XzdzPjCPQLlUQEck7xeRxJ8QjBfzplBDVmQuRHL37A-olxKUvqzGyJXEJLaMGbnoSnTzjIvoFy5UmyN444r7EsiHMJ_Y4n-iBNMTU_-GdmWwYugE85fA6zUUpqRVbod2SpncDW2yvRsdjqL_3FUSnpOQqSLb_9R5U_WTMbvoaJdazc0lk5gQlAl54TQngfsnuzkPBTKzqok0Z4dzo_h0AlqMdTk9tEp4lp5AdJn9wAc6R9o0AhQI2HmqRya9wVbGQrC1LjR1539kDHgOu5FLTQbwV7rAqEuO4iPlkQgowFry7XK6MxSMzv2qKRwBqbGqRVoTY0NS1ikCGU_qM6Lt3cPQvZfXnS5Ohgmhri203MKAncFQ6PwEXyRJ_zW3-WegT5qAxtp/download
Resolving public.boxcloud.com (public.boxcloud.com)... 107.152.27.200
Connecting to public.boxcloud.com (public.boxcloud.com)|107.152.27.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2891 (2.8K) [text/csv]
Saving to: ‘geospatial.csv’

geospatial.csv      100%[===================>]   2.82K  --.-KB/s    in 0s

2019-09-30 06:56:17 (74.7 MB/s) - ‘geospatial.csv’ saved [2891/2891]

In [6]:
#### Copying csv File to a Pandas dataframe
geo_data = pd.read_csv("geospatial.csv", delimiter=",")

In [7]:
geo_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [8]:
#### Renaming Postal Code Column
geo_data=geo_data.rename(columns={"Postal Code": "Postcode"})

In [9]:
geo_data.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

#### Creating a Combination of both dataframes

In [10]:
tor_df=tor_df.merge(geo_data)

In [11]:
tor_df.head()

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

#### Saving Data Frame to File

In [12]:
tor_df.to_csv("IBM-M9-W3-P2.csv")

#### Showing shape of the Data Frame

In [13]:
tor_df.shape

(103, 5)